@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

#caixaPokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-caixaPokemon {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.poke-tipo-nome-imgs {
  /*Aqui ta o background gradient*/
  height: 390px;
  width: 435px;
  border-radius: 10px;
}

.poke-imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.listul { /*ul das listas dos pokemons*/
  background-color: brown;
}

.poke-foto { /*Foto do pokemon*/
  width: 300px;
  height: 300px;
}

.nome-poke { /* h1 Nome do pokemon*/
  background-color: rgb(121, 121, 216);
  margin: 0px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.poke-descricoes { /* Descrições, peso, tipo e altura. */
  background-color: white;
  width: 435px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.poke-descricoes hr {
  border: 1px solid #F2F2F2;
  width: 422px;
}

#textosabor {
  color: #444444;
  margin-bottom: 5px;
}

.container-sprite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-sprite hr {
  border: 1px solid #F2F2F2;
  width: 422px;
}

.sprite-nome {
  margin: 0px;
  font-size: large;
}

.poke-sprite { /*sprite dos pokemons*/
  width: 96px;
  height: 96px;
  margin-right: 20px;
}

.id-nome-poke {
  margin: 0px;
}

.id-nome-poke2 p {
  margin: 0px;
  color: #919191;
}

.div-sprite {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 8px;
  border: 1px solid;
  width: 300px;
  border-radius: 10px;
}

.div-id-nome-sprite {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 96px;
  margin-left: 20px;
}

.poke-sprite img {
  width: 96px;
  height: 96px;
  background-image: url(bbackground.jpg);
  background-size: 96px;
}

.infoPokemon {
  width: 435px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid;
}

.poke-habilidades {
  background-color: chocolate;
}

.poke-ataques {
  background-color: rgb(100, 5, 5);
}

.poke-descri-sprite {
  display: flex;
}

.tipo1 {
  border-radius: 10px;
  height: 20px;
  width: 80px;
  text-align: center;
}

.tipo2 {
  border-radius: 10px;
  height: 20px;
  width: 80px;
  text-align: center;
}

.nome-tipo {
  margin-right: 360px;
}

.poke-tipos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 35px;
  width: 200px;
}

.id-poke p {
  color: #919191;
}
