@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

#caixaPokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-caixaPokemon {
  width: 435px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 10px;
}

.poke-tipo-nome-imgs {
  /*Aqui ta o background gradient*/
  height: 350px;
  width: 500px;
}

.poke-imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
}

.backpoke-imgs {
  position: absolute;
  width: 435px;
  height: 225px;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: url(/img/pokeball.png);
}

.backpoke-imgs img {
  height: 100px;
  width: 100px;
}

.listul { /*ul das listas dos pokemons*/
  background-color: brown;
}

.poke-foto { /*Foto do pokemon*/
  width: 285px;
  height: 285px;
  position: absolute;
}

.cabec-poke {
  margin-left: 60px;
}

.nome-poke { /* h1 Nome do pokemon*/
  display: flex;
  margin-top: 275px;
  margin-bottom: 0px;
}

.id-poke p {
  margin: 0px;
}

.poke-descricoes { /* Descrições, peso, tipo e altura. */
  background-color: white;
  width: 435px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.poke-descricoes hr {
  border: 1px solid #F2F2F2;
  width: 422px;
}

.poke-descricoes p {
  margin-top: 5px;
  margin-bottom: 5px;
}

#textosabor {
  color: #444444;
  margin-bottom: 5px;
}

.container-sprite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-sprite hr {
  border: 1px solid #F2F2F2;
  width: 422px;
}

.sprite-nome {
  margin: 0px;
  font-size: large;
}

.poke-sprite { /*sprite dos pokemons*/
  width: 96px;
  height: 96px;
  margin-right: 20px;
}

.id-nome-poke {
  margin: 0px;
}

.id-nome-poke2 p {
  margin: 0px;
  color: #919191;
}

.div-sprite {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 8px;
  border: 1px solid;
  width: 300px;
  border-radius: 10px;
}

.div-id-nome-sprite {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 96px;
  margin-left: 20px;
}

.poke-sprite img {
  width: 96px;
  height: 96px;
  background-image: url(bbackground.jpg);
  background-size: 96px;
}

.infoPokemon {
  width: 435px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.poke-habilidades {
  background-color: chocolate;
}

.poke-ataques ul {
  border: 1px solid;
  width: 150px;
  font-size: larger;
  border-radius: 15px;
}
.poke-ataques label {
  font-size: small;
}

.poke-descri-sprite {
  display: flex;
}

.tipo1 {
  border-radius: 10px;
  height: 20px;
  width: 80px;
  text-align: center;
}

.tipo2 {
  border-radius: 10px;
  height: 20px;
  width: 80px;
  text-align: center;
}

.nome-tipo {
  margin-right: 360px;
}

.poke-tipos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 35px;
  width: 200px;
}

.poke-tipos p {
  margin: 0px;
}

.id-poke p {
  color: #919191;
}


.div-habil ul {
  border: 1px solid;
  width: 150px;
  font-size: larger;
  border-radius: 15px;
}

.div-habil label {
  font-size: small;
}

.habil-ataqs {
  display: flex;
  justify-content: space-around;
}

.habil-ataqs h1 {
  font-size: large;
}

.peso-altura {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

#alturaPokemon {
  border: 1px solid;
  margin-top: 0px;
  font-size: larger;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.peso p {
  border: 1px solid;
  margin-top: 0px;
  font-size: larger;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.peso label {
  font-size: small;
}

.altura label {
  font-size: small;
}